@font-face {
    font-family: PTSans-Regular;
    src: url(assets/font/PTSans-Regular.ttf);
}

body {
    cursor: url("./assets/duck_cursor.png"), auto;
    width: 100vw;
    height: 100vh;
    font-family: PTSans-Regular;
    margin: 0;
    padding: 0;
}

#topbar {
    display: flex;
    position: sticky;
    height: 7vh;
    height: 7vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

#topbar a {
    margin-left: 1vw;
}

.topbar-right {
    margin-right: 2vw;
    margin-left: auto;
}

.topbar-item {
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 1vw;
}

#main-title {
    position: relative;
    z-index: 2;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-title #title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px;
}

#main-title-background {
    z-index: 0;
    width: 100vw;
    height: 90vh;
    position: fixed;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(122, 111, 155) 0%, rgb(139, 133, 193) 25%, rgb(212, 205, 244) 51%, white 100%);
    -webkit-animation: AnimateBG 10s ease infinite;
    animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}