@font-face {
    font-family: PTSans-Regular;
    src: url(assets/font/PTSans-Regular.ttf);
}

@font-face {
    font-family: SpecialGothicExpandedOne-Regular;
    src: url(assets/font/SpecialGothicExpandedOne-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    cursor: url("./assets/duck_cursor.png"), auto;
    font-family: PTSans-Regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

p::-moz-selection {
    color: white;
    background: rgb(122, 111, 155);
}

p::selection {
    color: white;
    background: rgb(122, 111, 155);
}

#topbar {
    top: 0px;
    z-index: 3;
    display: flex;
    position: fixed;
    width: 100%;
    height: 7vh;
    overflow: hidden;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#topbar a {
    margin-left: 1vw;
}

.topbar-right {
    margin-right: 2vw;
    margin-left: auto;
}

.topbar-item {
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 1vw;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transition: 0.2s linear;

    &:hover {
        /* transform: scale(2); */
        text-transform: scale(1.2);
        background-color: rgba(255, 255, 255, 0.8);
    }
}

#main-title {
    position: relative;
    z-index: 2;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-title #name {
    margin-bottom: 0px;
    font-family: SpecialGothicExpandedOne-Regular;
    font-size: 32px;
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

#main-title-background {
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 90vh;
    position: absolute;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(122, 111, 155) 0%, rgb(139, 133, 193) 25%, rgb(212, 205, 244) 51%, white 100%);
    -webkit-animation: AnimateBG 10s ease infinite;
    animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#scroll_down {
    margin-top: 50vh;
    position: absolute;
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 26px;
    height: 26px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.title {
    font-family: SpecialGothicExpandedOne-Regular;
    font-size: 32px;
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            rgb(122, 111, 155) 0%,
            rgb(139, 133, 193) 25%,
            rgb(212, 205, 244) 51%,
            rgb(139, 133, 193) 75%,
            rgb(122, 111, 155) 100%);
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

.section {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me {
    margin-top: 60vh;
}

@keyframes shadow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#about-me #main-tile {
    margin: 5vh;
    width: 80vw;
    height: 30vh;
    background-color: white;
    box-shadow: 1px 1px 20px rgb(200, 200, 200);
    border-radius: 25px;
    transition: 0.2s ease-in-out;

    &:hover {
        transform: scale(1.01);
        box-shadow: 1px 1px 30px 0 rgba(139, 133, 193, 1);
    }

}

.tab-show {
    display: grid;
    grid-template-columns: repeat(auto-fill,
            minmax(440px, 1fr));
    grid-auto-flow: row;
    grid-gap: 10px;
    padding: 5%;
    align-items: center;
    justify-items: center;
}

.work-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 250px;
    background-color: white;
    box-shadow: 1px 1px 20px rgb(200, 200, 200);
    border-radius: 25px;
    transition: 0.2s ease-in-out;

    &:hover {
        transform: scale(1.01);
        box-shadow: 1px 1px 30px 0 rgba(139, 133, 193, 1);
    }
}

.work-experience h2 {
    margin: 0 2rem;
    color: rgb(122, 111, 155);
}

.work-experience p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    color: rgb(122, 111, 155);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 440px;
    height: 600px;
    background-color: white;
    box-shadow: 1px 1px 20px rgb(200, 200, 200);
    border-radius: 25px;
    transition: 0.2s ease-in-out;

    &:hover {
        transform: scale(1.01);
        box-shadow: 1px 1px 30px 0 rgba(139, 133, 193, 1);
    }
}

.project img {
    margin-top: 0;
    width: 100%;
    height: 20%;
    border-bottom: rgb(122, 111, 155) solid 2px;
    object-fit: contain;
}

.project h2 {
    margin: 2vh 2rem 0;
    color: rgb(122, 111, 155);
    font-weight: bold;
    font-size: 32px;
}

.project h4 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    color: rgb(122, 111, 155);
}

.project h3 {
    margin: 2vh 2rem 0;
    color: rgb(122, 111, 155);
    font-weight: bold;
    font-size: 24px;
}

.project p {
    margin-top: 2px;
    margin-bottom: 0;
    text-justify: inter-word;
    font-size: 18px;
}